body{
    display: grid;
    grid-template-areas: "a"
    "b"
    "c"
    ;
    height: 100vh;
}



header,main,footer{
    width: 100%;
    
    border: 2px solid blue;

}
header{
    grid-area: a;
    /* min-height: 300px; */

}
main{
    grid-area: b;
}footer{
    grid-area: c;
}

nav,.content,.forms{
    width: 100%;
    
    border: 2px solid black; 
}

.card,.card-form{
    width: 100%;
    min-height: 100px;  
    border: 2px solid yellow; 
}
.card-form{
    border: 2px solid red;
}
